<%= form_for(@employee) do |f| %>
<!-- form_for erkennt ob neu oder edit und setzt richtige action -->
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Anrede" %><br>
    <!-- Zugriff auf Konstante in Klasse Employee -->
    <%= f.select :title, Employee::TITLES, include_blank: true, prompt: t("text.choose") %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, start_year: Time.now.year - 100, end_year: Time.now.year, include_blank: true %>
    <!-- include_blank: added leerzeile, somit kann man 'nichts' waehlen! -->
    <!-- <%= f.date_select :birthday, :order => [:year, :month, :day], start_year: Time.now.year - 100, end_year: Time.now.year, :locale => 'de' %> -->
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.select :department_id, Department.all.map {|d| [d.name, d.id]} %>
	<%#<%= f.collection_select :department_id, Department.all oder @departments, :id, :name, prompt: t("text.choose") %>
    <%#<%= f.collection_select :department_id, @departments geht nicht aber Department.all, :id, :name, prompt: t("text.choose") should work, but doesn't! TODO%>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, size: "20x14" %> <!-- 20 Spalten, 14 Zeilen -->
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <!-- Laenderliste vom gem 'country_select', unten angebene Laender stehen am Anfang der Liste -->
    <%= f.country_select :country, %w(Germany France Russia) %>
  </div>
  <div class="field">
    <%= f.label :freelancer %><br>
    <%= f.check_box :freelancer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
