<h1>Listing employees</h1>

<%= link_to 'Number of employees', employees_path, remote: true %> <!-- verwenden von AJAX -->
<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.employee.firstname") %></th>
      <th><%= t("activerecord.attributes.employee.lastname") %></th>
      <th><%= t("activerecord.attributes.employee.birthday") %></th>
      <th><%= t("activerecord.attributes.employee.email") %></th>
      <th><%= t("activerecord.attributes.employee.comment") %></th>
      <th><%= t("activerecord.attributes.employee.department_id") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstname %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.birthday %></td>
        <td><%= employee.email %></td>
        <td><%= employee.comment %></td>
        <td><%= employee.department_id %></td>
        <!-- Braucht email-Spalte in DB; encode: um Scannen zu erschweren, 
        	Werte: hex oder javascript --> 
        <td><%= mail_to "employee.email", 'Nachricht senden', encode: "hex" %></td>
        <!-- Button methode ist automatisch POST, macht routing-Probleme, daher method: get angeben -->
        <td><%= button_to t("links.show"), employee, :method => :get %></td>
        <td><%= link_to t("links.edit"), edit_employee_path(employee) %></td>
        <td><%= link_to t("links.destroy"), employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
