<h1><%= t("text.employee_list") %></h1>

<%= link_to t("links.employee_number"), employees_path, remote: true %> <!-- verwenden von AJAX, Methode in index.js.erb
	eingebunden im controller/index mit format.js # index.js.erb -->
<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.employee.firstname") %></th>
      <th><%= t("activerecord.attributes.employee.lastname") %></th>
      <th><%= t("activerecord.attributes.employee.birthday") %></th>
      <th><%= t("activerecord.attributes.employee.email") %></th>
      <th><%= t("activerecord.attributes.employee.comment") %></th>
      <th><%= t("activerecord.attributes.employee.department_id") %></th>
      <th><%= t("activerecord.attributes.employee.freelancer") %></th>
      <th><%= t("activerecord.attributes.employee.country") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstname %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.birthday %></td>
        <td><%= employee.email %></td>
        <td><%= employee.comment %></td>
        <td><%= employee.department_id %></td>
        <td><%= employee.freelancer %></td>
        <td><%= employee.country %></td>
        <!-- Braucht email-Spalte in DB; encode: um Scannen zu erschweren, 
        	Werte: hex oder javascript -->
        <td><%= mail_to "employee.email", 'Nachricht senden', encode: "hex" %></td>
        <!-- Button methode ist automatisch POST, macht routing-Probleme, daher method: get angeben -->
        <td><%= button_to t("links.show"), employee, :method => :get %></td>
        <td><%= link_to t("links.edit"), edit_employee_path(employee) %></td>
        <td><%= link_to t("links.destroy"), employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<!-- Partial-Ersatz fuer Code oben, dann geht show und edit aber nicht.. -->
<%#<%= render partial: @employees, spacer_template: "employee_ruler" %>
<!-- da spacer_template verwendet wird, muss partial: extra angegeben werden! -->

<%= link_to t("links.new_employee"), new_employee_path %>
<!-- Laden shared partial -->
<%#<%= render partial: "shared/copyright" %>
<!-- Laden layout (shared) Partial -->
<%= render partial: "shared/copyright", layout: "shared/copyright_full" %>
