<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("activerecord.attributes.employee.firstname") %>:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong><%= t("activerecord.attributes.employee.lastname") %>:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong><%= t("activerecord.attributes.employee.birthday") %>:</strong>
  <%= @employee.birthday %>
</p>

<p>
  <strong><%= t("activerecord.attributes.employee.email") %>:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong><%= t("activerecord.attributes.employee.department_id") %>:</strong>
  <%= @employee.department_id %>
</p>

<p>
  <strong><%= t("activerecord.attributes.employee.comment") %>:</strong>
  <%= @employee.comment %>
</p>

<% content_for :sidebar do %>
  <%= render "links" %>
<% end %>
